@import '../../variables';

.container {
  background-color: $gray900;
  padding-bottom: 288px;
}

.banner {
  position: relative;
  display: flex;
  padding-top: 76px;
  padding-left: 179px;
  background-color: $green;
  
  .secondImage {
    position: relative;
    left: -50px;
    top: 145px;
  }
}

.content {
  margin-top: 160px;
  margin-left: 300px;
}