@import '../../variables';

$offset-left: 300px;

$border1: 16px;
$border2: 26px;

.container {
  position: relative;
  margin: 230px 0;
  margin-left: $offset-left;
}

.outer {
  position: relative;
  width: 1207px;
  padding: 70px 112px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: $gray900;

  // border
  background-image: repeating-linear-gradient(
      0deg,
      $purple,
      $purple $border1,
      transparent $border1,
      transparent $border2,
      $purple $border2
    ),
    repeating-linear-gradient(90deg, $purple, $purple $border1, transparent $border1, transparent $border2, $purple $border2),
    repeating-linear-gradient(180deg, $purple, $purple $border1, transparent $border1, transparent $border2, $purple $border2),
    repeating-linear-gradient(270deg, $purple, $purple $border1, transparent $border1, transparent $border2, $purple $border2);
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;

  .diamond {
    position: absolute;
    top: -50px;
    left: 0;
  }
}

.box {
  position: relative;
  padding: 67px 114px 110px;
  border: 2px solid $blue;

  .header {
    font-size: 88px;
    line-height: 110px;
    color: $gray100;
  }

  .message {
    margin-top: 28px;
    font-size: 32px;
    line-height: 40px;
    color: $gray100;
    font-family: $space-grotesk-font;
  }

  .corners {
    position: absolute;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 2px solid $blue;
    background-color: $gray100;

    &:nth-child(1) {
      top: -13px;
      left: -13px;
    }

    &:nth-child(2) {
      top: -13px;
      right: -13px;
    }

    &:nth-child(3) {
      bottom: -13px;
      left: -13px;
    }

    &:nth-child(4) {
      bottom: -13px;
      right: -13px;
    }
  }

  .circles {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding-bottom: 2px;
    box-sizing: border-box;
    border: 2px solid $blue;
    background-color: $gray900;
    border-radius: 50%;
    color: $blue;

    &:nth-child(1) {
      top: -13px;
      left: calc(50% - 13px);
    }
  }

  .arrow {
    position: absolute;
    top: -311px;
    left: -31px;
  }
}

.buttonContainer {
  position: absolute;
  right: -43px;
  bottom: -5px;

  button {
    position: relative;
    left: 75px;
    top: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 346px;
    border-radius: 4px;
    background-color: $orange;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 20px;
    cursor: pointer;
  }
}