@import '../../includes';

$offset-left: 300px;

.container {
  position: relative;
  margin: 230px 0;
  margin-left: $offset-left;
}

.outer {
  position: relative;
  width: 1207px;
  padding: 70px 112px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: $gray900;

  @include long-dash;

  .diamond {
    position: absolute;
    top: -50px;
    left: 0;
  }
}

.box {
  position: relative;
  padding: 67px 114px 110px;
  border: 2px solid $blue;

  .header {
    font-size: 88px;
    line-height: 110px;
    color: $gray100;
  }

  .message {
    margin-top: 28px;
    font-size: 32px;
    line-height: 40px;
    color: $gray100;
    font-family: $space-grotesk-font;
  }

  .corners {
    position: absolute;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 2px solid $blue;
    background-color: $gray100;

    &:nth-child(1) {
      top: -13px;
      left: -13px;
    }

    &:nth-child(2) {
      top: -13px;
      right: -13px;
    }

    &:nth-child(3) {
      bottom: -13px;
      left: -13px;
    }

    &:nth-child(4) {
      bottom: -13px;
      right: -13px;
    }
  }

  .circles {
    @include circles;

    top: -13px;
    left: calc(50% - 13px);
  }

  .arrow {
    position: absolute;
    top: -311px;
    left: -31px;
  }
}

.buttonContainer {
  position: absolute;
  right: -43px;
  bottom: -5px;

  button {
    position: relative;
    left: 75px;
    top: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 346px;
    border-radius: 4px;
    background-color: $orange;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 20px;
    cursor: pointer;
  }
}