@import '../../variables';

.category {
  font-family: $space-grotesk-font;
  font-size: 25px;
  font-weight: 500;
  color: $gray400;
}

.name {
  margin-top: 24px;
  font-weight: 400;
  font-size: 64px;
  line-height: 125%;
  color: $gray100;
}

.box {
  margin-top: 48px;
}