@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import 'variables';

html {
  font-family: 'Dela Gothic One', cursive;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  background-color: $gray900;
}
