@mixin circles {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 2px solid $blue;
  background-color: $gray900;
  border-radius: 50%;
  font-family: $space-grotesk-font;
  font-weight: 500;
  color: $blue;

  &::after {
    content: '+';
  }
}

$border1: 16px;
$border2: 26px;

@mixin long-dash {
  background-image: repeating-linear-gradient(
    0deg,
    $purple,
    $purple $border1,
    transparent $border1,
    transparent $border2,
    $purple $border2
  ),
  repeating-linear-gradient(90deg, $purple, $purple $border1, transparent $border1, transparent $border2, $purple $border2),
  repeating-linear-gradient(180deg, $purple, $purple $border1, transparent $border1, transparent $border2, $purple $border2),
  repeating-linear-gradient(270deg, $purple, $purple $border1, transparent $border1, transparent $border2, $purple $border2);
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}