$gray100: #ffffff;
$gray200: #cfcfcf;
$gray400: #9C9C9C;
$gray800: #212529;
$gray900: #1d1d1d;

$purple: #A573E5;
$blue: #4A91E3;
$orange: #EE6B4A;
$green: #45A247;

$space-grotesk-font: 'Space Grotesk', sans-serif;