@import '../../variables';

.container {
  display: flex;
  padding: 50px 200px 20px;

  a {
    color: $gray100;
    text-decoration: none;
  }
}

.left {
  flex: 1;
}

.right {
  a {
    display: inline-block;
    margin-left: 14px;
    width: 200px;
    text-align: right;
  }
}
